/* Start Custom CSS from Blind Renaissance */

/* Google Translate */
#google_translate_element{
  position: fixed;
  bottom: -25px;
  right: -25px;
  z-index: 10;
}

/* Pink Hover */
.tweak-header-primary-nav-hover-style-spotlight .Header-nav:hover .Header-nav-item:hover{
  color: #e41569;
}

/* Whiten Off-white Slideshow */
.sqs-gallery-block-slideshow{
      background-color: rgba(175,175,175,0);
}

/* Header Shadow, fixed */
.Header {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.5);
    box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.5);
    position: fixed;
    width: 100%;
    z-index: 1000;
}

/*xx bullets*/
    @media screen and (max-width: 640px) {
        .xx-bullet {
            text-align: center;
            justify-content: center;
            /* align horizontal */

            align-items: flex-start!important;
            /* align vertival-top */
        }
    }
    #block-yui_3_17_2_2_1495560406897_179613 {
        padding: 0!important;
    }
    #block-yui_3_17_2_2_1495560406897_220240 {
        padding: 0!important;
    }
    #block-yui_3_17_2_2_1495560406897_224584 {
        padding: 0!important;
    }
    #block-yui_3_17_2_2_1495485993753_106612 {
        height: 92px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #block-yui_3_17_2_2_1495485993753_81123 {
        height: 92px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #block-yui_3_17_2_2_1495560406897_230028 {
        height: 92px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #block-yui_3_17_2_2_1495560406897_247355 {
        height: 92px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

/* summary styling */
    .sqs-block-summary-v2 .summary-block-setting-text-size-medium .summary-title {
        font-size: 22px;
        font-weight: 600;
    }
    .Index-page--has-image h1 {
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    }

/*social icon*/
    #facebook-icon {
        position: fixed;
        padding: 10px;
        top: 5px;
        left: 8px;
        z-index: 1005;
    }
    #facebook-icon:hover {
        opacity: 1;
    }
    #twitter-icon {
        position: fixed;
        padding: 10px;
        top: 40px;
        left: 8px;
        z-index: 1005;
    }
    #twitter-icon:hover {
        opacity: 1;
    }

/* Index Gaps */
    #marketing-gap-1 .Index-page-content,
    #marketing-gap-2 .Index-page-content,
    #gap-1 .Index-page-content,
    #gap-2 .Index-page-content,
    #about-smitten-direct .Index-page-content,
    #order-here .Index-page-content {
        padding: 30px 10px 10px 10px;
    }

/* Gap Shaddow */
    #marketing,
    #branding-guidelines,
    #advertising-materials,
    #introduction,
    #flavor-profile,
    #video,
    #the-quest,
    #smitten-direct,
    #about-smitten-direct-content {
        -webkit-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.3);
    }

/* Nav Spacing */
    .Header-inner {
        padding-left: 150px;
        padding-right: 150px;
    }
    body:not(.tweak-header-primary-nav-hover-style-button) .Header-nav--primary .Header-nav-item,
    body:not(.tweak-header-primary-nav-hover-style-button).tweak-header-secondary-nav-inherit-styles .Header-nav--secondary .Header-nav-item {
        margin: 0 1em;
    }

/* Mobile Styling */
  /* spaceForHeader */
  @media screen and (min-width: 920px) {
      #spaceForHeader {
          height: 95px;
          width: 100%
      }
  }
  /* Anchor Social Media */
  @media screen and (max-width: 919px) {
      #facebook-icon{
        position: absolute;
        top: 0px;
      }
      #twitter-icon{
        position: absolute;
        top: 34px;
      }
  }
  /* Mobile Header */
  @media screen and (max-width: 960px) {
      .Header-inner {
          padding-left: 56px;
          padding-right: 56px;
      }
  }
  @media screen and (min-width: 961px) and (max-width: 1268px) {
      .Header-inner {
          padding-left: 80px;
          padding-right: 80px;
      }
  }

/* Preloader */
.xx-gif{
  max-width:1000px;
  width:100%;
}

#animation_container{
  position:fixed;
  margin:auto;
  left:0;right:0;
  top:0;bottom:0;
  width:100%!important;
  height:100vh!important;
  z-index: 10000;
  background-color:rgba(255, 255, 255, 1.00);
  display: flex;
  align-items: center;
}
#canvas{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color:rgba(255, 255, 255, 1.00);
}

.swipeOut {
	-webkit-animation: animLoadedHeader 1s cubic-bezier(0.7,0,0.3,1) forwards;
	animation: animLoadedHeader 1s cubic-bezier(0.7,0,0.3,1) forwards;
  -webkit-animation-delay: 2s; /* Safari 4.0 - 8.0 */
  animation-delay: 2s;
}

@-webkit-keyframes animLoadedHeader {
	to { -webkit-transform: translate3d(0,-100%,0); }
}

@keyframes animLoadedHeader {
	to { -webkit-transform: translate3d(0,-100%,0); transform: translate3d(0,-100%,0); }
}

/* Footer Formatting & Social Media Icons */
#footerBlocksTop{
  display:none;
}
#footerBlocksBottom{
  display:none;
}
#footer{
  font-size: 16px;
}
#block-yui_3_17_2_3_1496769521482_7425{
  padding-bottom:0;
}
#Smitten-SM-Icons{
  display:flex;
  justify-content:center;
}
.SM-Icon{
  padding: 0 20px;
}
