/* Start Custom CSS from Blind Renaissance */

/* Pink Hover */
.tweak-header-primary-nav-hover-style-spotlight .Header-nav:hover .Header-nav-item:hover{
  color: #e41569;
}

/* Whiten Off-white Slideshow */
.sqs-gallery-block-slideshow{
      background-color: rgba(175,175,175,0);
}

/* Header Shadow, fixed */
.Header {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.5);
    box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.5);
    position: fixed;
    width: 100%;
    z-index: 1000;
}
